<div class="courses-container">
  <mat-card>
    <mat-card-title>רשימת הקורסים</mat-card-title>
    <mat-card-content>
      @if(errorCourses){
      <div class="error-message">
        {{ errorCourses }}
      </div>}
      @if(courses && courses.length > 0){
      <mat-list >
        @for (course of courses ; track course.id) {
        <!-- <mat-list-item> -->
          <mat-icon matListItemIcon>library_books</mat-icon>
          <h3 matListItemTitle>{{ course.title }}</h3>
          <p matListItemLine>{{ course.description }}</p>
          <app-course-details
            [course]="course"
            [studentId]="getStudentId()"
            (join)="joinCourse(course.id)"
            (leave)="leaveCourse(course.id)"
            (loadLessons)="loadCourseLessons(course.id)"
            [lessons]="courseDisplayStates[course.id]?.lessons ?? null"
            [loadingLessons]="courseDisplayStates[course.id]?.loadingLessons ?? false"
            [errorLessons]="courseDisplayStates[course.id]?.errorLessons"
            
          ></app-course-details>
        <!-- </mat-list-item> -->
      }
      </mat-list>}
      @if (courses && courses.length === 0 && !loadingCourses && !errorCourses) {
      <div>
        אין קורסים זמינים כרגע.
      </div>}
      @if (loadingCourses) {
      <div>
        טוען קורסים...
      </div>}
    </mat-card-content>
  </mat-card>
</div>