@if(course && showDetails){
<div>
  <h4>תיאור הקורס:</h4>
  <p>{{ course.description }}</p>
</div>
}

@if(showLessons)
{<div>
  <h4>שיעורים בקורס:</h4>
  @if(loadingLessons){
  <div>
    טוען שיעורים...
  </div>}

  @if(lessons && lessons.length > 0){
  <ul >
    @for(lesson of lessons; track lesson.id
    ){
    <li>
      {{ lesson.title }}
    </li>}
  </ul>}
  @if (lessons && lessons.length === 0 && !loadingLessons) {
  <div>
    אין שיעורים בקורס זה כרגע.
  </div>}
  @if(errorLessons){
  <div style="color: red;">
    {{ errorLessons }}
  </div>}
</div>}