<mat-card class="mt-4">
  <mat-card-title>ניהול קורסים קיימים</mat-card-title>
  <mat-card-content>
    @if (courses && courses.length > 0) {
      <div class="course-cards-container">
        @for (course of courses; track course.id) {
          <mat-card class="course-management-card">
            <mat-card-header>
              <mat-card-title>{{ course.title }}</mat-card-title>
              <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>מזהה מורה: {{ course.teacherId }}</p>
            </mat-card-content>
            <mat-card-actions class="course-actions">
              <button mat-raised-button color="primary" (click)="onEdit(course.id)">
                <mat-icon>edit</mat-icon> ערוך קורס
              </button>
              <button mat-raised-button color="warn" (click)="onDelete(course.id, course.title)">
                <mat-icon>delete</mat-icon> מחק קורס
              </button>
              <button mat-raised-button color="accent" (click)="onEditLessonsClicked(course.id)">
                <mat-icon>class</mat-icon> ערוך שיעורים
              </button>
            </mat-card-actions>
          </mat-card>
        }
      </div>
    } @else {
      <div class="alert alert-info text-center mt-3">
        אין קורסים קיימים כרגע במערכת.
      </div>
    }
  </mat-card-content>
</mat-card>

