<div class="container mt-5">
  <div class="mb-3 text-center">
    <button mat-raised-button color="primary" (click)="onAddCourse()">
      <mat-icon>add</mat-icon> הוסף קורס חדש
    </button>
  </div>
  <h1>ניהול קורסים</h1>

  <app-course-list
    [courses]="courses"
    (edit)="onEditCourse($event)"
    (delete)="onDeleteCourse($event)"
    (editLessons)="onEditLessons($event)"
  ></app-course-list>

  @if(loading){
    <div class="alert alert-info mt-3">טוען קורסים...</div>
  }
  @if(error){
    <div class="alert alert-danger mt-3">{{ error }}</div>
  }
  @if (!loading && !error && courses.length === 0) {
    <div class="alert alert-info mt-3">
      אין קורסים קיימים כרגע.
    </div>
  }

  <hr class="mt-4 mb-4">


  @if (isAddingNewCourse || selectedCourseId !== null) {
    <mat-card class="mt-4 course-form-card"> <mat-card-title>{{ selectedCourseId ? 'ערוך קורס' : 'הוסף קורס חדש' }}</mat-card-title> <mat-card-content>
        <app-course-form
          [course]="selectedCourse"
          (formSubmit)="onFormSubmit($event)"
          (formCancel)="onFormCancel()"
        ></app-course-form>
      </mat-card-content>
    </mat-card>
  }
</div>